.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.freeTrial {
  background-color: white;
  border: 1px solid #4eafea;
  width: 178px;
  height: 49px;
  border-radius: 10px;
  text-align: center;
  color: #4eafea;
  font-size: 13px;
}
.freeTrial:hover {
  background-color: #4eafea;
  color: white;
  cursor: pointer;
}
.button {
  background-color: white;
  color: #ff3d5a;
  width: 465px;
  border: 1px solid #ff3d5a;
  height: 60px;
  border-radius: 6px;
}

.button:hover {
  text-decoration: none;
  background-color: #ff3d5a;
  color: white;
}
.signInButton {
  background-color: #ff3d5a;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
}
.signInButton:hover {
  background-color: #ff3d5a;
  color: white;
}
.footer {
  background-color: #f7f8ff;
  padding: 8px;
}
.css-7rb4uv-MuiGrid-root {
  width: calc(100% + 16px) !important;
  margin-left: -16px !important;
  height: 300px !important;
  overflow: hidden !important;
  overflow-y: scroll !important;
}
